.container {
    max-width: 1080px;
    width: 100%;
    margin: 0 auto;
}

.box {
    background-color: salmon;
    min-height: 40px;
    margin-bottom: 40px;
}

.breadcrumb {
    background-color: black;

}

.breadcrumb-item a {
    color: white;
}
